body {
	padding: 3vw;
	font-family: 'Roboto Mono', monospace;
  background: #FCDFDF;
}

p {
	font-weight: 100;
}

.parent {
	display: grid;
	grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.right-top {
  background: #FCEDED;
  border-radius: 5px;
  align-self: start;
  justify-self: end;  
}

.right-top-text {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin: 35px 44px 35px 44px;
}

.input {
background: #FCEDED;
border: 5px solid #000000;
box-sizing: border-box;
box-shadow: 8px 8px 0px #000000;
border-radius: 5px;
width: 200px;
height: 40px;
font-family: Roboto Mono;
font-style: normal;
font-weight: normal;
font-size: 18px;
/* line-height: 30px; */
}

.select {
  background: #FCEDED;
  border: 5px solid #000000;
  box-sizing: border-box;
  box-shadow: 8px 8px 0px #000000;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.btn {
	background: #080808;
	box-shadow: 8px 8px 0px #000000;
	border: 3px solid black;
	border-radius: 5px;
	color: #fff;
  width:  80px;
  height: 40px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.hw-item {
	background: #B0FFA3;
	border: 5px solid #000000;
	box-shadow: 8px 8px 0px #000000;
	border-radius: 5px;
	margin-top: 20px;
}

@media only screen and (max-width: 600px) {
	.btn {
		width: 40%;
		height: 4vh;
    margin-top: 10px;
	}
  .input {
  margin-top: 10px;
  }

  .select {
  margin-top: 10px;
  } 
}